
* {
  margin: 0%;
  padding: 0%;
}

body {
  background-color: #000;
  color: #fff;
  overflow-x: hidden;
}

::-webkit-scrollbar{
  width: 2rem;
}


nav {
  position: fixed;
  z-index: 3;
  background-color: #000;
  width: 100%;
display: flex;
  overflow: hidden;
}


.navbutton {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 20px;
  margin-left: 88%;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

#insta {
display: none;
  width: 2rem;
  height: 2rem;
  padding: 10px 20px;
  margin-top: 15px;
  margin-left: -21px;
}

.sidebar {
  margin-top: 60px;
  margin-left: 20px;
  height: 590px;
  width: 250px;
  position: fixed;
  background-color: #1c1b23;
  padding-top: 16px;
}

.sidebar h3 {
  color: #8b8a91;
  margin-left: 30px;
  margin-top: 40px;
  font-family: 'Roboto', sans-serif;
}

.sidebar a {
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #8b8a91;
  display: block;
}

.sidebar a:hover {
  color: #fff;
}

.sidebar i {
  margin-right: 10px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  display: flex;
  margin-top: 80px;
  margin-left: 25% ;
  background-image: url('images/namebg.webp');
  background-size: cover;
  background-repeat: no-repeat;
  width: 65rem;
  height: 180px;
}

.name img {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 30px;
  border-radius: 100%;
  border: 5px solid white;
  width: 15%;
}

.sec1 {
  margin-top: 50px;
  margin-left: 70px;
}

.sec1 h1,
.sec1 p {
  margin: 5px;
  padding: 0;
}

.name button {
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  margin-left: 200px;
  margin-top: 70px;
  height: 40px;
  cursor: pointer;
}

a {
  width: 170px;
}

h2 {
  margin-top: 20px;
  margin-left: 27%;
}

.projects {
  margin-top: 20px;
  margin-left: 27%;
  scroll-snap-type: x mandatory;
}

.pro {
  margin-top: 20px;
  padding-bottom: 10px;
  background-color: #fff;
  margin-right: 20px;
  width: 300px;
  border: 0.1px solid #000;
  border-radius: 10px;
  scroll-snap-align:  start;
}

.pro img {
  width: 100%;
  height: 150px;
  border-radius: 10px 10px 0 0;
}

.pro h3 {
  margin-left: 10px;
  margin-top: 10px;
  color: #000;
  width: 300px;
}

.pro p {
  color: #000;
  width: 500px;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
}



.cards {
  display: flex;
  gap: 10px;
  margin-right: 20px;

}

.skills {
  margin-top: 20px;
  margin-left: 30%;
  margin-bottom: 20px;
  display: flex;
}


.skill {
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: #1c1b23;
  margin-right: 40px;
  padding-left: 20px;
  padding-right: 20px;
  width: 150px;
  border: 0.1px solid #138cc1;
}

.skill p {
  margin-top: 20px;
  text-align: center;
  width: 80px;
  padding: 10px;
  padding-left: 20px;
  border-radius: 10px;
  background-color: #14131a;
}

footer {
  margin-top: 4%;
  margin-bottom: 3%;
  margin-left: 50%;
  opacity:  .6;

}



@media (max-width: 768px) {
.sidebar {
  display: none;
}

.navbutton {
  margin-left: 58%;
  font-size: 9pt;
}

#insta {
  display: block;

  }

.name {
  height: 150px;
}
.name img {
  width: 22%;
  margin-left: 11rem;
}

.name h1 {
  font-size:  25px;
  width:  240px;
    margin-left: -20%;
}

.projects {
  margin-top: 20px;
  margin-left: 20px;
  scroll-snap-type: x mandatory;
}

.cards {
  display: block;

}

.pro {
  margin-bottom: 15px;

  width: 360px;
}

.skills {
  margin-left: 7%;
  margin-bottom: 20px;
  display: block;
}

.skill {
  width: 300px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.techstack{
  display: flex;
}

}